In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from petdata_functions import CleanPetData
from petdata_functions import ReformatDates


#read in data 
chidat = pd.read_csv("Chicago_adopted_20k_Jan_21.csv") 
chidat['City'] = 'Chicago'

houstdat = pd.read_csv("Houston_adopted_20k_Jan_21.csv") 
houstdat['City'] = 'Houston'

elpdat = pd.read_csv("ElPaso_adopted_20k_Jan_21.csv") 
elpdat['City'] = 'ElPaso'

Minndat = pd.read_csv("Chicago_adopted_20k_Jan_21.csv") 
Minndat['City'] = 'Minne'

dendat = pd.read_csv("Denver_adopted_20k_Jan_21.csv") 
dendat['City'] = 'Denver'

stldat = pd.read_csv("StL_adopted_20k_Jan_21.csv")
stldat['City'] = 'StLouis'

inddat = pd.read_csv("Indy_adopted_20k_Jan_21.csv")
inddat['City'] = 'Indy'

petdat = pd.concat([chidat,houstdat,elpdat,Minndat,dendat, stldat, inddat])


petdat = CleanPetData(petdat)

#petdat = ReformatDates(petdat)
    
fmt ='%Y-%m-%dT%H:%M:%S+0000'
petdat['published_at'] =  pd.to_datetime(petdat['published_at'], format=fmt)
petdat['status_changed_at'] =  pd.to_datetime(petdat['status_changed_at'], format=fmt)
petdat['time_diff'] = petdat['status_changed_at'] - petdat['published_at']
petdat['target_hour'] = petdat.time_diff.astype('timedelta64[h]')

,id,organization_id,age,gender,size,coat,name,status,status_changed_at,published_at,...,environment.children,environment.dogs,environment.cats,contact.email,contact.phone,contact.address.city,_links.organization.href,City,time_diff,target_hour
0,47180520,IL53,Adult,Female,Large,NaN,Gwen,adopted,2020-01-22 21:41:20,2020-01-22 21:41:20,...,True,True,NaN,adoptions@carenorthshore.org,(847) 705-2653,Skokie,/v2/organizations/il53,Chicago,00:00:00,0.0
1,47171077,IL496,Adult,Male,Medium,Medium,Keeper,adopted,2020-01-22 21:01:13,2020-01-22 01:36:19,...,NaN,True,NaN,jenniferotat@gmail.com,7085550000,Chicago,/v2/organizations/il496,Chicago,19:24:54,19.0
2,47160275,IL922,Young,Male,Medium,NaN,Kano,adopted,2020-01-21 17:03:22,2020-01-21 17:03:22,...,False,True,NaN,info@redemptionroadinc.org,(847) 338-3252,Island Lake,/v2/organizations/il922,Chicago,00:00:00,0.0
3,47160277,IL922,Adult,Male,Medium,NaN,Bernie,adopted,2020-01-21 17:03:22,2020-01-21 17:03:22,...,False,True,True,info@redemptionroadinc.org,(847) 338-3252,Island Lake,/v2/organizations/il922,Chicago,00:00:00,0.0
4,47159557,IL274,Young,Male,Medium,NaN,Mr. Snuggles,adopted,2020-01-21 16:47:56,2020-01-21 16:47:56,...,NaN,NaN,NaN,magmuttsrescue@aol.com,NaN,Hillside,/v2/organizations/il274,Chicago,00:00:00,0.0