In [16]:
import pandas as pd

#read in data 
petdat = pd.read_csv("chicago_adopted_20k_Jan_20.csv")


#drop unused vars

petdatat = petdat.drop(['url',
                        'type',
                        'species',
                        'tags',
                        'description',
                        'attributes.declawed',
                        'contact.phone',
                        'contact.address.address1',
                        'contact.address.address2',
                        'contact.address.state',
                        'contact.address.postcode',
                        'contact.address.country',
                        'photos',
                        'colors.primary',
                        'colors.secondary',
                        'colors.tertiary',
                        '_links.self.href',
                        '_links.type.href'], axis=1)



list(petdat.columns.values)
petdat.head()
#calculate target variable 

#deal with NAs/NaNs/None 

#(dummy) coding for categorical variables

#coding ordinal variables 

#center and scale continuous variables 

#(potentially: send to SQL database?)

,Unnamed: 0,id,organization_id,url,type,species,age,gender,size,coat,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,_links.self.href,_links.type.href,_links.organization.href
0,0,47151520,WI463,https://www.petfinder.com/dog/pacey-47151520/w...,Dog,Dog,Baby,Female,Medium,NaN,...,NaN,NaN,NaN,Racine,WI,53402.0,US,/v2/animals/47151520,/v2/types/dog,/v2/organizations/wi463
1,1,47150453,IL663,https://www.petfinder.com/dog/lola-47150453/il...,Dog,Dog,Baby,Female,Medium,Short,...,(855) 924-4464,NaN,NaN,Hainesville,IL,60030.0,US,/v2/animals/47150453,/v2/types/dog,/v2/organizations/il663
2,2,47148767,IL782,https://www.petfinder.com/dog/mama-mia-4714876...,Dog,Dog,Adult,Female,Medium,NaN,...,1-779-206-2132,2303 Oak Leaf Street,NaN,Joliet,IL,60435.0,US,/v2/animals/47148767,/v2/types/dog,/v2/organizations/il782
3,3,47147717,WI13,https://www.petfinder.com/dog/mason-ps-4714771...,Dog,Dog,Young,Male,Medium,Short,...,(414) 649-8640,3839 West Burnham Street,NaN,West Milwaukee,WI,53215.0,US,/v2/animals/47147717,/v2/types/dog,/v2/organizations/wi13
4,4,47146215,IL496,https://www.petfinder.com/dog/speedo-47146215/...,Dog,Dog,Young,Male,Medium,Short,...,7085550000,2144 North Wood Street,NaN,Chicago,IL,60625.0,US,/v2/animals/47146215,/v2/types/dog,/v2/organizations/il496