In [3]:
import pandas as pd
import matplotlib.pyplot as plt

#read in data 
chidat = pd.read_csv("Chicago_adopted_20k_Jan_21.csv") 
stldat = pd.read_csv("StL_adopted_20k_Jan_21.csv")
inddat = pd.read_csv("Indy_adopted_20k_Jan_21.csv")

petdat = pd.concat([chidat, stldat, inddat])

#drop variables that aren't interesting out of the gate

petdat = petdat.drop(['Unnamed: 0',
                      'url',
                      'type',
                      'species',
                      'tags',
                      'description',
                      'attributes.declawed',
                      'contact.phone',
                      'contact.address.address1',
                      'contact.address.address2',
                      'contact.address.state',
                      'contact.address.postcode',
                      'contact.address.country',
                      'photos',
                      'colors.primary',
                      'colors.secondary',
                      'colors.tertiary',
                      '_links.self.href',
                      '_links.type.href'], axis=1)


#drop variables that have lots of NAs, leaving only features with no NAs (well, name has 1???)

petdat = petdat.drop(['breeds.secondary',
                      'environment.children',
                      'environment.dogs',
                      'environment.cats',
                      'contact.email',
                      'coat'], axis=1)


#reformat dates and calculate difference in dates (= target variable)

fmt ='%Y-%m-%dT%H:%M:%S+0000'
petdat['published_at'] =  pd.to_datetime(petdat['published_at'], format=fmt)
petdat['status_changed_at'] =  pd.to_datetime(petdat['status_changed_at'], format=fmt)
petdat['time_diff'] = petdat['status_changed_at'] - petdat['published_at']
petdat['target_hour'] = petdat.time_diff.astype('timedelta64[h]')

petdat.head()


#take out outliers

,id,organization_id,age,gender,size,name,status,status_changed_at,published_at,distance,...,breeds.mixed,breeds.unknown,attributes.spayed_neutered,attributes.house_trained,attributes.special_needs,attributes.shots_current,contact.address.city,_links.organization.href,time_diff,target_hour
0,47180520,IL53,Adult,Female,Large,Gwen,adopted,2020-01-22 21:41:20,2020-01-22 21:41:20,12.3809,...,True,False,True,False,False,True,Skokie,/v2/organizations/il53,00:00:00,0.0
1,47171077,IL496,Adult,Male,Medium,Keeper,adopted,2020-01-22 21:01:13,2020-01-22 01:36:19,7.2643,...,True,False,True,True,False,True,Chicago,/v2/organizations/il496,19:24:54,19.0
2,47160275,IL922,Young,Male,Medium,Kano,adopted,2020-01-21 17:03:22,2020-01-21 17:03:22,40.2996,...,True,False,True,True,False,False,Island Lake,/v2/organizations/il922,00:00:00,0.0
3,47160277,IL922,Adult,Male,Medium,Bernie,adopted,2020-01-21 17:03:22,2020-01-21 17:03:22,40.2996,...,False,False,True,False,False,False,Island Lake,/v2/organizations/il922,00:00:00,0.0
4,47159557,IL274,Young,Male,Medium,Mr. Snuggles,adopted,2020-01-21 16:47:56,2020-01-21 16:47:56,14.5342,...,True,False,True,False,False,False,Hillside,/v2/organizations/il274,00:00:00,0.0