In [1]:
#playing around with using Postgres to use data in SQL

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

dbname = 'pets_db' #name for new db
username = 'post-doc' # postgres username

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

# read a database from CSV and load it into a pandas dataframe
pets_data = pd.read_csv('chicago_adopted_20k_Jan_20.csv', index_col=0)
print(pets_data.head())

## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
pets_data.to_sql('pets_data_table', engine, if_exists='replace')

postgres://post-doc@localhost/pets_db
True
         id organization_id  \
0  47151520           WI463
1  47150453           IL663
2  47148767           IL782
3  47147717            WI13
4  47146215           IL496

                                                 url type species    age  \
0  https://www.petfinder.com/dog/pacey-47151520/w...  Dog     Dog   Baby
1  https://www.petfinder.com/dog/lola-47150453/il...  Dog     Dog   Baby
2  https://www.petfinder.com/dog/mama-mia-4714876...  Dog     Dog  Adult
3  https://www.petfinder.com/dog/mason-ps-4714771...  Dog     Dog  Young
4  https://www.petfinder.com/dog/speedo-47146215/...  Dog     Dog  Young

   gender    size   coat tags  ...   contact.phone  contact.address.address1  \
0  Female  Medium    NaN   []  ...             NaN                       NaN
1  Female  Medium  Short   []  ...  (855) 924-4464                       NaN
2  Female  Medium    NaN   []  ...  1-779-206-2132      2303 Oak Leaf Street
3    Male  Medium  Short   []  ...  (414) 649-8640  3839 West Burnham Street
4    Male  Medium  Short   []  ...      7085550000    2144 North Wood Street

  contact.address.address2 contact.address.city contact.address.state  \
0                      NaN               Racine                    WI
1                      NaN          Hainesville                    IL
2                      NaN               Joliet                    IL
3                      NaN       West Milwaukee                    WI
4                      NaN              Chicago                    IL

  contact.address.postcode  contact.address.country      _links.self.href  \
0                  53402.0                       US  /v2/animals/47151520
1                  60030.0                       US  /v2/animals/47150453
2                  60435.0                       US  /v2/animals/47148767
3                  53215.0                       US  /v2/animals/47147717
4                  60625.0                       US  /v2/animals/47146215

  _links.type.href  _links.organization.href
0    /v2/types/dog   /v2/organizations/wi463
1    /v2/types/dog   /v2/organizations/il663
2    /v2/types/dog   /v2/organizations/il782
3    /v2/types/dog    /v2/organizations/wi13
4    /v2/types/dog   /v2/organizations/il496

[5 rows x 43 columns]

In [2]:
#query my data in SQL, return only dogs that are babies

# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username)

# query:
sql_query = """
SELECT * FROM pets_data_table WHERE age='Baby';
"""
pets_data_from_sql = pd.read_sql_query(sql_query,con)
pets_data_from_sql.head()

,index,id,organization_id,url,type,species,age,gender,size,coat,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,_links.self.href,_links.type.href,_links.organization.href
0,0,47151520,WI463,https://www.petfinder.com/dog/pacey-47151520/w...,Dog,Dog,Baby,Female,Medium,None,...,None,None,None,Racine,WI,53402.0,US,/v2/animals/47151520,/v2/types/dog,/v2/organizations/wi463
1,1,47150453,IL663,https://www.petfinder.com/dog/lola-47150453/il...,Dog,Dog,Baby,Female,Medium,Short,...,(855) 924-4464,None,None,Hainesville,IL,60030.0,US,/v2/animals/47150453,/v2/types/dog,/v2/organizations/il663
2,11,47143503,IL145,https://www.petfinder.com/dog/lady-47143503/il...,Dog,Dog,Baby,Female,Medium,Medium,...,(815) 464-7298,8301 West 191st Street,None,Tinley Park,IL,60477.0,US,/v2/animals/47143503,/v2/types/dog,/v2/organizations/il145
3,19,46964676,IN53,https://www.petfinder.com/dog/omelet-46964676/...,Dog,Dog,Baby,Female,Large,None,...,None,None,None,Beecher,IL,60401.0,US,/v2/animals/46964676,/v2/types/dog,/v2/organizations/in53
4,7,47145103,IL745,https://www.petfinder.com/dog/macarena-4714510...,Dog,Dog,Baby,Female,Small,Short,...,(847) 626-8697,PO BOX 751,None,Island Lake,IL,60042.0,US,/v2/animals/47145103,/v2/types/dog,/v2/organizations/il745