In [7]:
from datetime import datetime
fmt1 = '%Y-%m-%d %H:%M:%S'
fmt2 ='%Y-%m-%dT%H:%M:%S+0000'

tstamp1 = datetime.strptime('2016-04-07 09:06:02', fmt1)
tstamp2 = datetime.strptime('2020-01-19T23:05:58+0000', fmt2)

if tstamp1 > tstamp2:
    td = tstamp1 - tstamp2
else:
    td = tstamp2 - tstamp1
td_mins = int(round(td.total_seconds() / 60))

The difference is approx. 1990920 minutes

In [24]:
import pandas as pd

#read in data 
petdat = pd.read_csv("chicago_adopted_20k_Jan_20.csv")


#drop unused vars

petdat = petdat.drop(['url',
                      'type',
                      'species',
                      'tags',
                      'description',
                      'attributes.declawed',
                      'contact.phone',
                      'contact.address.address1',
                      'contact.address.address2',
                      'contact.address.state',
                      'contact.address.postcode',
                      'contact.address.country',
                      'photos',
                      'colors.primary',
                      'colors.secondary',
                      'colors.tertiary',
                      '_links.self.href',
                      '_links.type.href'], axis=1)

#reformat dates and calculate difference in dates (= target variable)

fmt ='%Y-%m-%dT%H:%M:%S+0000'
petdat['published_at'] =  pd.to_datetime(petdat['published_at'], format=fmt)
petdat['status_changed_at'] =  pd.to_datetime(petdat['status_changed_at'], format=fmt)
petdat['time_diff'] = petdat['status_changed_at'] - petdat['published_at']
#petdat['target'] =  int(round(petdat.time_diff.total_seconds() / 60))

petdat['target_min'] = petdat.time_diff.astype('timedelta64[m]')
petdat.head()

#deal with NAs/NaNs/None 


#(dummy) coding for categorical variables


#coding ordinal variables 


#center and scale continuous variables 


#(potentially: send to SQL database?)

,Unnamed: 0,id,organization_id,age,gender,size,coat,name,status,status_changed_at,...,attributes.special_needs,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.email,contact.address.city,_links.organization.href,time_diff,target_min
0,0,47151520,WI463,Baby,Female,Medium,NaN,Pacey,adopted,2020-01-19 20:35:12,...,False,True,True,True,True,Woofgangrescue@gmail.com,Racine,/v2/organizations/wi463,0 days 00:57:42,57.0
1,1,47150453,IL663,Baby,Female,Medium,Short,Lola,adopted,2020-01-20 23:30:53,...,False,True,True,True,True,adoptions@wagginghearts.org,Hainesville,/v2/organizations/il663,1 days 09:02:03,1982.0
2,2,47148767,IL782,Adult,Female,Medium,NaN,Mama Mia,adopted,2020-01-19 14:26:53,...,False,False,NaN,NaN,NaN,hopefultailsadoptions@outlook.com,Joliet,/v2/organizations/il782,0 days 16:53:50,1013.0
3,3,47147717,WI13,Young,Male,Medium,Short,Mason- PS,adopted,2020-01-18 22:35:29,...,False,True,NaN,NaN,NaN,foster@madacc.org,West Milwaukee,/v2/organizations/wi13,0 days 03:59:58,239.0
4,4,47146215,IL496,Young,Male,Medium,Short,Speedo,adopted,2020-01-18 18:09:29,...,False,True,NaN,NaN,NaN,jenniferotat@gmail.com,Chicago,/v2/organizations/il496,0 days 14:19:09,859.0